<!doctype html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>运行环境检测 - Powered by CRMEB </title>
    <link rel="stylesheet" href="/install/css/install.css?v=9.0"/>
    <link rel="stylesheet" href="/install/css/step2.css?v=9.0"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/install/css/theme-chalk.css">
    <!-- import Vue before Element -->
    <script src="/install/js/vue2.6.11.js"></script>
    <!-- import JavaScript -->
    <script src="/install/js/element-ui.js?v=9.0"></script>
</head>

<body>
<div class="wrap" id="step2">
    <div class="title">
        安装检测
    </div>
    <div class="content">
        <div class="menu">
            <div class="head">
                <h1>安装检测</h1>
                <a class="again" href="">重新检测
                    <img class="upload" src="/install/images/install/upload.png" alt="">
                </a>
            </div>
            <div class="p8">安装环境需满足系统运行要求</div>
            <div>
                <div class="tab" :class="{'on': index === 0}" @click="index = 0">
                    <div class="left-img">
                        <img class="env" src="/install/images/install/environment.png" alt="">
                        <img v-if="`<?php echo $passOne; ?>` == 'no'" class="warring"
                             src="/install/images/install/warring.png" alt="">
                        <img v-else class="warring" src="/install/images/install/sure.png" alt="">

                    </div>
                    <div>
                        <div>环境及配置</div>
                        <div class="p8">基础的系统操作环境</div>
                    </div>
                </div>
                <div class="tab" :class="{'on': index === 1}" @click="index = 1">
                    <div class="left-img">
                        <img class="jur" src="/install/images/install/jurisdiction.png" alt="">
                        <img v-if="`<?php echo $passTwo; ?>` == 'no'" class="warring btn-warning"
                             src="/install/images/install/warring.png" alt="">
                        <img v-else class="warring btn-warning" src="/install/images/install/sure.png" alt="">
                    </div>
                    <div>
                        <div>函数检测</div>
                        <div class="p8">函数检测必须开启</div>
                    </div>
                </div>

            </div>
        </div>
        <section class="config-list">
            <div class="server">
                <table width="100%" v-if="index === 0">
                    <tr>
                        <td class="td1">环境检测</td>
                        <td class="td1" width="25%">推荐配置</td>
                        <td class="td1" width="25%">最低要求</td>
                        <td class="td1" width="25%">当前状态</td>
                    </tr>
                    <tr>
                        <td>PHP版本</td>
                        <td>7.4</td>
                        <td>7.1</td>
                        <td>
                            <div class="ls-td"><img class="yes" src="/install/images/install/yes.png"
                                                    alt="对"><?php echo $phpv; ?></div>
                        </td>
                    </tr>
                    <tr>
                        <td>附件上传</td>
                        <td>> 2M</td>
                        <td>不限制</td>
                        <td>
                            <div class="ls-td"><?php echo $uploadSize; ?></div>
                        </td>
                    </tr>
                    <tr>
                        <td>session</td>
                        <td>启用</td>
                        <td>启用</td>
                        <td>
                            <div class="ls-td"><?php echo $session; ?></div>
                        </td>
                    </tr>
                    <tr>
                        <td>safe_mode</td>
                        <td>启用</td>
                        <td>启用</td>
                        <td>
                            <div class="ls-td"><?php echo $safe_mode; ?></div>
                        </td>
                    </tr>
                    <tr>
                        <td>GD库</td>
                        <td>必须开启</td>
                        <td>1.0以上</td>
                        <td>
                            <div class="ls-td"><?php echo $gd; ?></div>
                        </td>
                    </tr>
                    <tr>
                        <td>mysqli</td>
                        <td>必须开启</td>
                        <td>启用</td>
                        <td>
                            <div class="ls-td"><?php echo $mysql; ?></div>
                        </td>
                    </tr>
                    <tr>
                        <td>curl_init</td>
                        <td>必须扩展</td>
                        <td>启用</td>
                        <td>
                            <div class="ls-td"><?php echo $curl; ?></div>
                        </td>
                    </tr>
                    <tr>
                        <td>zip</td>
                        <td>必须扩展</td>
                        <td>启用</td>
                        <td><?php echo $zip; ?></td>
                    </tr>
                    <tr>
                        <td>bcmath</td>
                        <td>必须扩展</td>
                        <td>启用</td>
                        <td><?php echo $bcmath; ?></td>
                    </tr>
                    <tr>
                        <td>swoole</td>
                        <td>必须扩展</td>
                        <td>启用</td>
                        <td><?php echo $swoole; ?></td>
                    </tr>
                    <tr>
                        <td>swoole_loader</td>
                        <td>必须扩展</td>
                        <td>启用</td>
                        <td><?php echo $swooleCompiler; ?></td>
                    </tr>
                    <tr>
                        <td>redis</td>
                        <td>必须扩展</td>
                        <td>启用</td>
                        <td><?php echo $redis; ?></td>
                    </tr>
                    <tr>
                        <td>openssl</td>
                        <td>必须扩展</td>
                        <td>启用</td>
                        <td><?php echo $openssl; ?></td>
                    </tr>
                    <tr>
                        <td>fileinfo</td>
                        <td>必须扩展</td>
                        <td>启用</td>
                        <td><?php echo $finfo_open; ?></td>
                    </tr>
                </table>
                <table width="100%" v-else>
                    <tr>
                        <td class="td1" width="70%">函数检测必须开启</td>
                        <td class="td1" width="30%">当前状态</td>
                    </tr>
                    <tr>
                        <td>file_put_contents</td>
                        <td><?php echo $file_put_contents; ?></td>
                    </tr>
                    <tr>
                        <td>imagettftext</td>
                        <td><?php echo $imagettftext; ?></td>
                    </tr>
                    <tr>
                        <td>proc_open</td>
                        <td><?php echo $proc_open; ?></td>
                    </tr>
                    <tr>
                        <td>pcntl_alarm</td>
                        <td><?php echo $pcntl_alarm; ?></td>
                    </tr>
                    <tr>
                        <td>pcntl_signal</td>
                        <td><?php echo $pcntl_signal; ?></td>
                    </tr>
                </table>
            </div>

        </section>
    </div>
    <div class="bottom-btn">
        <div class="bottom tac up-btn">
            <a href="/install.html" class="btn">上一步</a>
        </div>
        <div class="bottom tac">
            <?php if ($passOne == 'no' || $passTwo == 'no') { ?>
            <span class="next" @click="next" class="btn">下一步</span>
            <?php } else { ?>
            <a href="/install/databases" class="btn next">下一步</a>
            <?php } ?>
        </div>
    </div>

</div>
<div class="footer"> &copy; 2014-2024 <a href="http://www.crmeb.com" target="_blank">www.crmeb.com</a> 西安众邦网络科技有限公司出品
</div>
</body>
<script>
    new Vue({
        el: '#step2',
        data() {
            return {index: 0}
        },
        methods: {
            next() {
                this.$message({
                    message: '安装环境检测未通过，请检查',
                    type: 'warning'
                });
            }
        }
    })
</script>

</html>