<!doctype html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>安装许可协议 - Powered by CRMEB </title>
    <link rel="stylesheet" href="/install/css/install.css?v=9.0"/>
    <script src="/install/js/jquery.js"></script>
    <script src="/install/js/jquery.js"></script>
    <link rel="stylesheet" href="/install/css/step5.css"/>
</head>

<body>
<div class="wrap">
    <div class="title">
        安装完成
    </div>

    <section class="section">
        <div class="title">
            <img src="./images/install/success.png" alt="">
            <h1>安装成功</h1>
        </div>
        <div class="progress">
            <div class="trip p8">
                安装完成后请[ 重启Swoole 重启Swoole 重启Swoole ]进程,才能正常使用。
            </div>
        </div>
        <div class="bottom-btn">
            <div class="pre btn">
                <a href="/" class="btn mid">进入前台</a>
            </div>
            <div class="admin btn" style="margin-right: 20px;">
                <a href="<?php echo '/'.$system;?>" class="btn btn_submit J_install_btn mid">进入总后台</a>
            </div>
            <div class="admin btn">
                <a href="<?php echo '/'.$merchant;?>" class="btn btn_submit J_install_btn mid">进入商户后台</a>
            </div>
        </div>
    </section>
</div>
<script>
    $(function(){
        $.ajax({
            type: "POST",
            url: "http://shop.crmeb.net/index.php/admin/server.upgrade_api/updatewebinfo",
            header:{
                'Access-Control-Allow-Origin':'*',
                'Access-Control-Allow-Headers':'X-Requested-With',
                'Access-Control-Allow-Methods':'PUT,POST,GET,DELETE,OPTIONS'
            },
            data: {
                host: '<?php echo $host;?>',
                https: '<?php echo 'http://'.$host;?>',
                version: '<?php echo $version; ?>',
                ip: <?php echo json_encode($ip);?>
            },
        dataType: 'json',
            success: function(){}
        });
    });
</script>
</body>
<div class="footer"> &copy; 2014-2022 <a href="http://www.crmeb.com" target="_blank">www.crmeb.com</a> 西安众邦网络科技有限公司出品
</div>

</html>